// colors
$bg-color: #fff;
$main-color: #6c6c6f;
$btn-color: #ff817e;
$link-color: #263a41;
$h-color: #1e2528;
$p-color: #888;
$text-color: #555;
$navbar-toggler-color: rgba(255, 129, 126, 0.9);
$border-color: #e3e6ea;
$box-shadow-color: #f0f0f0;
$procedures-btn-hover-color: #212529;
$carousel-color: #fff9f8;
$border-bottom-color: #d4d3d3;
$input-field-color: #999;

//size

$heading-size: 49px;
