.navbar {
  z-index: 1;

  .nav-item {
    color: $link-color;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
  }

  .navbar-toggler {
    border: 0;
    padding: 0.25rem 1.75rem;

    &-icon {
      background-image: url('data:image/svg+xml;charset=utf8,%3Csvg viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath stroke="rgba(255,129,126, 1)" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" d="M4 8h24M4 16h24M4 24h24"/%3E%3C/svg%3E');
    }
  }
}
